.edit-window {
    width: 50vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 10%;
    border: 3px dotted black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.edit-game-heading {
    font-family: 'Arcade';
    font-size: 25px;
    margin-top: 40px;
    letter-spacing: 1px;
}

.done-edit-btn {
    font-size: 30px;
    font-family: "Arcade";
    width: 100px;
}

.done-edit-btn:active {
    transform: translateY(2px);
}

.cancel-edit-btn {
    font-size: 30px;
    width: 100px;
    margin-right: 10px;

}
.cancel-edit-btn:active {
    transform: translateY(2px);
}

.edit-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



.edit-title {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.edit-title-div {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-title-input {
    width: 400px;
    font-size: 30px;
    outline: none;
    padding: 0px;
    padding-left: 10px;
    height: 40px;

}