.card-div {
    position: relative;
}


.game-title {
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    line-height: 22px;
    text-align: left;
}

.game-system, .game-release, .game-genre {
    padding-top: 0px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.trash {
    position: absolute;
    bottom: 30%;
    right: 0;
    cursor: pointer;

}

.divider {
  
    letter-spacing: 2px;
    margin-bottom: 25px;
}


.del-game-btn {
    font-size: 18px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    letter-spacing: 0.3px;
    right: 5%;
    top: 47%;
}

.del-game-btn:active {
    transform: translateY(2px);
}

.edit-btn {
    font-size: 18px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    letter-spacing: 0.3px;
    right: 25%;
    top: 47%;
}

.edit-btn:active {
    transform: translateY(2px);
}

