.aside-container {
    position: absolute;
    top: 20%;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-game-btn {
    width: 250px;
    font-size: 30px;
    margin-bottom: 10px;
}

.play-tetris-btn {
    width: 250px;
    font-size: 30px;
    margin-bottom: 10px;

}
.search-game-btn {
    width: 250px;
    font-size: 30px;
    margin-bottom: 10px;

}
.credits-btn {
    width: 250px;
    font-size: 30px;
   

}